<!-- Jumbotron -->
<div class="jumbotron text-center mt-5">

  <!-- Title -->
  <h2 class="card-title h2">Material Design for Bootstrap</h2>
  <!-- Subtitle -->
  <p class="blue-text my-4 font-weight-bold">Powerful and free Material Design UI KIT</p>

  <hr class="my-4">

  <div class="pt-2">
      <a class="btn btn-blue waves-effect" href="/auth/login"><i class="fas fa-clone left"></i> Login</a>
      <a class="btn btn-blue waves-effect" href="/auth/register"><i class="fas fa-clone left"></i> Register</a>
  </div>

</div>
<!-- Jumbotron -->
